# TODO: should be able to extract this into a partial##########

# Should take an object(comment, post, etc)


<% if logged_in? %>
  <!-- "/posts/#{object.id}/up_vote_#{object.to_s}" -->
  <%= link_to up_vote_post_path(post) do %>
    <span class='icon-arrow-up'></span>
  <% end %>
<% end %>

<br>
<% up_votes = post.votes.select{|x| x.vote == true}.count %>
<% down_votes = post.votes.select{|x| x.vote != true}.count %>
<% net_votes = up_votes - down_votes %>
<%= net_votes %>
<br>

<% if logged_in? %>
  <%= link_to down_vote_post_path(post) do %>
    <span class='icon-arrow-down'></span>
  <% end %>
<% end %>
