<%= render '/shared/content_title', title:'Categories' %>

<% @categories.each do |cat| %>
  <p>
    <span class='badge'>
      <%= link_to cat.name, category_path(cat) %>
    </span>
  </p>
<% end %>

<br><br>
<%= link_to 'Add New Category', new_category_path %>
